<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="stylesheet" th:href="@{ssk.common.css}">

        <title>SSK | 메인</title>
    </head>
    <body>
        <header>
            <h2><a href="#">SSK</a></h2>
            <ul>
                <li><a href="/login" th:text="로그인"></a></li>
                <li><a href="/logout" th:text="로그아웃"></a></li>
            </ul>
        </header>
        <main>
            메인 페이지
        </main>
    </body>
</html>
